
#catagory {
    min-height: 199px;
    width: 158px;
    margin: 0 3px 50px 3px;
    display: inline-block;
}

#circle {
    height: 155px;
    width: 155px;
    background-color: white;
    border-radius: 50%;
    border: solid 3px #4976e6;
}

#circle-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#image {
    height: 110px;
    width: 110px;
}

#name {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 13px;
    color: #fff200;
    font-weight: 600;
    font-size: 13px;
}