
#navbar-fit {
    width: auto;
    background-color: #0046be;
}
#navbar {
    background-color: #0046be;
    padding-left: 32px;
    padding-top: 10px;
}

#brand {
    /* margin-left: 32px; */
    height: 70px;
    width: 121px;
}

#right-navigation {
    position: absolute;
    top: 10px;
    left: 190px;
    width: 100%;
    min-width: 855px;

}

#top-navigation {
    margin-left: 70px;
}
#top-navigation a{
    /* color: white; */
    color: white;
    font-size: .9rem;
    margin-left: 20px;
}
