#greeting {
    height: 109px;
}

.centered {
    text-align: center;
    padding-top: 20px;
}

/* message */
h3 {
    font-weight: 600;
    font-size: 1.2rem;
}

/* info */
#info {
    color: #0457c8;
    font-weight: 700;
    font-size: .9rem;
}
#spacing-left {
    padding-right: 5px;
    border-right: 2px solid rgb(1, 1, 185);
    height: 10px;
}
#spacing-right {
    padding-left: 5px;
}

.horizon {
    display: inline-block;
}
