
#saleCatagories {
    background-color: black;
    color: white;
    padding-bottom: 12px;
    width: auto;
}

#info {
    display: block;
    width: 1000px;
}
#info-content {
    padding-left: 5px;
    height: 19px;
    margin-bottom: 12px;
    color: #e0e6ef;
    font-size: 15px;
}


#page-size {
    width: auto;
    display: flex;
    justify-content: center;
}
#catagories {
    height: 750px;
    width: 1000px;
}
