
#sale-info {
    width: 260px;
    height: 114px;
    margin-bottom: 64px;
    padding: 24px 0 24px 0;
}


#info {
    font-size: 18px;
    color: white;
}

#faqs {
    margin-top: 16px;
    font-size: 11px;
    color: white;
}
#faqs a {
    color: yellow;
}

#shop {
    background-color: #ffe000;
    padding: 5px 0;
    width: 142px;
    height: 30px;
    text-align: center;
    font-size: 13px;
    border-radius: .25rem;
}
#shop a {
    color: black;
}